*{
    font-family: 'Abhaya Libre', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
} 
.header {
    width: 100%;
    margin: auto;
}
.header2 {
    width: 90%;
    margin: 22px auto;
    display: flex;
}
.header3{
    width: 15%;
}
.header4{
    img{
        float: right;
    }
}
.header5{
    width: 65%;
    margin-left: auto;
    display: flex;
    a{
        color: #3D3935;
        font-size: 13px;
        font-weight: 500;
    }
}
.research{
    display: flex;
    img{
        margin-left: 6px;
        height: 30px;
        margin-top: 5px;
    }
    input{
        width: 100px;
        height: 30px;
        margin-left: 100px;
        margin-top: 5px;
    }
}
.line02{
    width: 60px;
    border-left: 1px solid #b0b0b0;
    margin-left: 30px; 
}
.last{
    align-items: flex-end;
}
.body{
    background-color: #F4ECE8;
    width: 100%;
}
.title{
    display: flex;
    width: 90%;
    padding-top: 28px;
    margin: auto;
}
.home{
    a{
        font-size: 11px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        color: #3D3D3C;
        text-decoration: none;
    }
}
.arrow{
    width: 20px;
    margin: 0px 20px 0px 20px;
}
.news{
    a{
        font-size: 11px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
        color: #3D3D3C;
        text-decoration: none;
    }
}
.block-news{
    width: 90%;
    height: 198px;
    background-color: white;
    margin: 33px auto;
    h1{
        font-size: 60px;
        font-weight: 700;
        font-family: 'Abhaya Libre', serif;
        color: #3D3D3C;
        text-align: center;
        padding-top: 40px;
    }
    h2{
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: #3D3D3C;
        text-align: center;
        padding-top: 10px;
    }
}
.promo{
    width: 90%;
    margin: auto;
    margin-top: 28px;
    h3{
        font-size: 24px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        color: #3D3D3C;
    }
}
.line{
    width: 100%;
    margin: auto;
    border: 1px solid #B5B7C3;
    margin-top: 8px;
}
.block2{
    width: 92%;
    margin: auto;
}
.container{
    width: 92%;
    height: 647px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 29px auto;
    padding: 0px;
    border-radius: 4px;
}
.container1{
    width: 100%;
    height: 647px;
    background-color: #FFFFFF;
    img{
        padding: 5px;
        height: 343px;
    }
    h6{
        font-size: 13px;
        font-weight: 500;
        color: #F39200;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 29px;
    }
    p{
        width: 98%;
        font-size: 40px;
        font-weight: 700;
        color: #3D3D3C;
        font-family:'Abhaya Libre', serif ;
        text-align: center;
        padding: 0px;
        margin: auto;
    }
}
.word{
    display: flex;
    margin: 32px auto 25px auto;
    width: 100px;
    h3{
        font-size: 13px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
    h4{
        font-size: 13px;
        font-weight: 400;
        color: #F39200;
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin-left: 6px;
    }
}
.frame{
    width: 90%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: auto;
    height: 40px;
    padding-bottom: 16px;
    a{
        width: 150px;
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        padding: 8px;
        margin: auto;
        text-decoration: none;
    }
}
.container2{
    width: 94%;
    height: 315px;
    grid-column: 2 / 3;
    gap: 17px;
    margin-left: 25px;
    background-color: #FFFFFF;
}
.up{
    display: flex;
}
.photo2{
    img{
        padding: 5px;
    }
}
.text2{
    h6{
        font-size: 13px;
        font-weight: 500;
        color: #F39200;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
        color: #3D3935;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h1{
        font-size: 13px;
        font-weight: 400;
        color: #3D3935;
        font-family: 'Noto Serif', serif;;
        text-align: left;
        margin-top: 25px;
        margin-left: 15px;
    }
   
}
.word2{
    display: flex;
    margin: 74px auto 25px auto;
    width: 100px;
    h3{
        font-size: 9px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
    h4{
        font-size: 9px;
        font-weight: 400;
        color: #F39200;
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin-left: 6px;
    }
}
.frame2{
    width: 90%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: auto;
    height: 40px;
    padding-bottom: 16px;
}
.link{
    margin: 7px auto;
    width: 100px;
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: auto;
        padding: 8px;
        text-decoration: none;
    }
}
.container3{
    width: 100%;
    height: 315px;
    background-color: #FFFFFF;
    margin-top: 17px;
}
.down2{
    display: flex;
    width: 100%;
}
.photo3{
    img{
        padding: 5px;
    }
}
.text3{
    h6{
        font-size: 13px;
        font-weight: 500;
        color: #F39200;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
        color: #3D3935;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h1{
        font-size: 13px;
        font-weight: 400;
        color: #3D3935;
        font-family: 'Noto Serif', serif;;
        text-align: left;
        margin-top: 25px;
        margin-left: 15px;
    }
   
}
.word3{
    display: flex;
    margin: 74px auto 25px auto;
    width: 100px;
    h3{
        font-size: 9px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
    h4{
        font-size: 9px;
        font-weight: 400;
        color: #F39200;
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin-left: 6px;
    }
}
.frame3{
    width: 90%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: auto;
    height: 40px;
    padding-bottom: 16px;
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: auto;
        padding: 8px;
        text-decoration: none;
    }
}
.title7{
    width: 90%;
    margin: auto;
    display: flex;
}
.title8{
    align-items: flex-start;
    padding-top: 56px;
    height: 57px;
    p{
        font-size: 24px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.title9{
    margin-left: auto;
    padding-top: 66px;
    p{
        font-size: 13px;
        font-weight: 700;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.line2{
    width: 90%;
    height: 1px;
    margin: auto;
    border: 1px solid #B5B7C3;
}
.cards{
    display: flex;
    width: 90%;
    margin: 24px auto;
}
.card1{
    width: 300px;
    height: 480px;
    background-color: #FFFFFF;
}
.card1:hover{
    transform: rotateY(30deg) ;
}
.photo2{
    img{
        padding: 5px;
    }
}
.text4{
    h6{
        font-size: 13px;
        font-weight: 500;
        color: #B5B7C3;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 17px;
        margin-left: 15px;
    }
    h1{
        font-size: 18px;
        font-weight: 500;
        color: #3D3935;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 13px;
        margin-left: 15px;
        line-height: 25px;
    }
   
}
.word02{
    display: flex;
    width: 100px;
    margin-top: 35px;
    margin-left: 15px;
    h3{
        font-size: 9px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
    }
    h4{
        font-size: 9px;
        font-weight: 400;
        color: #F39200;
        font-family: 'Noto Serif', serif;
        margin-left: 6px;
    }
}
.frame02{
    width: 90%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: 26px auto;
    height: 37px;
    margin-bottom: 28px;
}
.link02{
    margin: 7px auto;
    width: 60px;
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: auto;
        padding: 8px;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
    }
}
.card2{
    width: 300px;
    height: 480px;
    background-color: #FFFFFF;
    margin-left: 32px;
}
.card2:hover{
    transform: rotateY(30deg) ;
}
.title07{
    width: 90%;
    margin: auto;
    display: flex;
}
.title08{
    align-items: flex-start;
    padding-top: 23px;
    height: 57px;
    p{
        font-size: 24px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.title09{
    margin-left: auto;
    padding-top: 25px;
    p{
        font-size: 13px;
        font-weight: 700;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.block8{
    width: 100%;
    height: 685px;
    background-color: #F4ECE8;
}
.block08{
    width: 85%;
    margin: auto;
}
.block-up{
    display: flex;
}
.block-img{
    padding-top: 36px;
}
.media{
    padding-top: 24px;
    width: 100%;
}
.media-img{
    width: 230px;
    margin-left: auto;
    img{
        margin-left: 25px;
    }
}
.long-line{
    width: 98%;
    border: 1px solid #3D3D3C;
    margin-top: 18px;
    margin-left: 26px;
}
.block-down{
    display: flex;
    margin-top: 25px;
    width: 100%;
}
.column-1{
    width: 123px;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-2{
    width: 156px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-3{
    width: 153px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-4{
    width: 123px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-5{
    width: 154px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-6{
    width: 169px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.long-line2{
    width: 100%;
    border: 1px solid #3D3D3C;
    margin: 66px auto;
}
.down-form{
    display: flex;
    width: 100%;
}
.down-form-01{
    width: 375px;
    h3{
    color: #3D3D3C;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    }
    p{
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    }
}
.down-form-02{
    margin-left: auto;
}
.down-form-03{
    margin-left: auto;
}
.mb-2{
    width: 406px;
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.mb-3{
    width: 406px;
    margin-top: 20px;
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.form-control{
    background-color: #F4ECE8;
    border-radius: 1px solid #3D3D3C;
}
.mb-4{
    width: 320px;
    p{
    color: #3D3D3C;
    font-size: 9px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    }
}
.radio{
    display: flex;
}
.form-check-label{
    color: #3D3D3C;
    font-size: 9px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.btn-outline-secondary{
    width: 190px;
    height: 35px;
    margin-top: 33px;
    color:  #3D3D3C ;
}
.btn{
    border-radius: 4px;
    border: 1.5px solid #3D3D3C; 
}
.block9{
    width: 100%;
    height: 222px;
    background-color: #FFFFFF;
}
.block09{
    width: 85%;
    margin: auto;
    display: flex;
    padding-top: 25px;
}
.block9-1{
    h5{
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
    }
    img{
        margin-top: 5px;
    }
}
.block9-2{
    margin-left: auto;
    margin-top: 30px;
}
.block9-3{
    margin-left: 53px;
    margin-top: 30px;
    img{
        margin-left: 18px;
    }
}
.block10{
    width: 100%;
    background-color: #F2F2F2;
}
.block010{
    width: 90%;
    height: 60px;
    margin: auto;
    padding-top: 15px;
    p{
        color: #3D3935;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }
}
.burger{
    width: 33px;
    height: 31px;
    display: none;
    margin: 15px 20px;
    overflow: hidden;
}
.mobile{
    width: 47px;
    height: 55px;
    margin: auto;
    img{
        width: 47px;
    height: 38px;
    }
}
.category01{
    width: 200px;
    height: 281px;
    background-color:rgba(213, 202, 203, 1);
    text-align: center;
    margin-right:  25px;
    
}
.category01 a{
    width: 200px;
    height: 281px;
    color: #668E68 ;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    line-height: 3.5;
}
.burger:hover{
    display: block;
    width: 225px;
    overflow: visible;
 }
 @media (min-width: 320px) and (max-width: 690px){
    .burger{
        display: block;
        margin-left: auto;
    }
    .mobile{
        display: block;
    }
    .header{
        width: 100%;
    }
    .header5{
        display: none ;
    }
    .header3{
        width: auto;
        padding-top: 5px;
    }
    .container1{
        width: auto;
    }
    .container2{
        margin-top: 20px;
        width: auto;
    }
    .container1 p{
        width: auto;
        font-size: 30px;
    }
    .container2{
        margin-left: 0px;
    }
    .word{
        margin: 32px auto 13px auto;
    }
    .block2{
        height: 2270px;
    }
    .container{
       display: block;
       height: 1364px;
    }
    .container1 img{
        width: 100%;
    }
    .word2{
        margin: 35px auto 25px auto;
    }
    .word3{
        margin: 35px auto 25px auto;
    }
    .text2 h2{
        font-size: 17px;
    }
    .up{
        display: block;
        height: fit-content;
    }
    .photo2 img{
        width: 100%;
    }
    .text2{
        background-color: #FFFFFF;
    }
    .text2 h6{
        margin-top: 0px;
        padding-top: 15px;
    }
    .down2{
        display: block;
        height: fit-content;
    }
    .photo3 img{
        width: 100%;
    }
    .text3{
        background-color: #FFFFFF;
    }
    .text3 h6{
        margin-top: 0px;
        padding-top: 15px;
    }
    .cards{
        flex-direction: column;
    }
    .card2{
        margin: 20px auto;
    }
    .card1{
        margin: auto;
    }
    .title08 p{
        font-size: 20px;
    }
    .block8{
        height: 1470px;
       }
       .down-form{
        flex-direction: column;
       }
       .down-form1{
        width: 285px;
       }
       .down-form2{
        margin-left: 0px;
       }
       .down-form3{
        margin-left: 0px;
       }
       .block9{
        height: 450px;
       }
       .block09{
        flex-direction: column;
       }
       .block010{
        height: fit-content;
       }
       .radio{
        margin-left: 10px;
       }
       .btn-outline-secondary{
        margin-left: 10px;
       }
       .block-up{
        flex-direction: column;
       }
       .long-line{
        width: 100%;
        margin: 20px auto;
       }
       .block-down{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
       }
       .column-2{
        margin-left: 0px;
        width: 138px;
       }
       .column-3{
        margin-left: 0px;
       }
       .column-4{
        margin-left: 0px;
       }
       .column-5{
        margin-left: 0px;
       }
       .column-6{
        margin-left: 0px;
        width: 138px;
       }
       .down-form-02{
        margin-left: 0px;
       }
       .down-form-03{
        margin-left: 0px;
       }
       .mb-4{
        width: 282px;
       }
       .down-form-01{
        width: 282px;
       }
       .mb-2{
        width: 282px;
       }
       .mb-3{
        width: 282px;
       }
 }
 @media (min-width: 320px) and (max-width: 321px){
    .category01{
        width: 120px;
    }
    .block2{
        height: 1970px;
    }
}
@media (min-width: 375px) and (max-width: 380px){
    .category01{
        width: 160px;
    }
    .container3{
        margin-top: 45px;
    }
}
@media (min-width: 515px) and (max-width: 1212px){
    .burger{
        display: block;
        margin-left: auto;
    }
    .mobile{
        display: block;
    }
    .header{
        width: 100%;
    }
    .header5{
        display: none ;
    }
    .header3{
        width: auto;
        padding-top: 5px;
    }
    .container{
        display: block;
        height: 960px
    }
    .container1 img{
        width: 100%;
    }
    .container2{
        display: flex;
        margin: 20px auto;
    }
    .container3{
        width: auto;
        margin-top: 0px;
        margin-left: 20px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card1{
        margin: auto;
    }
    .card2{
        margin: 20px auto;
    }
    .block8{
        height: 1170px;
       }
       .down-form1{
        width: 285px;
       }
       .down-form2{
        margin:0px ;
       }
       .down-form3{
        margin-left: 0px;
       }
       .block010{
        height: fit-content;
       }
       .radio{
        margin-left: 10px;
       }
       .btn-outline-secondary{
        margin-left: 10px;
       }
       .block-up{
        flex-direction: column;
       }
       .long-line{
        width: 100%;
        margin: 20px auto;
       }
       .block-down{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
       }
       .column-2{
        margin-left: 0px;
        width: 138px;
       }
       .column-3{
        margin-left: 0px;
       }
       .column-4{
        margin-left: 0px;
       }
       .column-5{
        margin-left: 0px;
       }
       .column-6{
        margin-left: 0px;
        width: 138px;
       }
       .down-form-02{
        margin: 0px 20px 0px 20px;
       }
       .down-form-03{
        margin-left: 0px;
       }
       .mb-4{
        width: 282px;
       }
       .down-form-01{
        width: 282px;
       }
       .mb-2{
        width: 282px;
       }
       .mb-3{
        width: 282px;
       }
 }
 @media (min-width: 515px) and (max-width: 800px){
    .block9{
        height: 450px;
     }
    .block09{
    flex-direction: column;
    }
    .block8{
        height: 1430px;
    }
    .down-form{
        display: block;
    }
    .down-form-02{
        margin: 0px;
    }
    .container{
        height: 1260px;
    }
    .container1 p{
        width: auto;
    }
    .container2{
        display: block;
        margin: 20px auto;
    }
    .container3{
        margin-top: 20px;
        margin-left: 0px;
    }
 }
 @media (min-width: 515px) and (max-width: 690px){
    .cards{
        flex-direction: column;
    }
 }
 @media (min-width: 1212px) and (max-width: 1439px){
    .photo{
        display: none;
    }
    .last{
        display: none;
    } 
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .card1{
        margin: auto;
    }
    .card2{
        margin: 20px auto;
    }
    .block-up{
        flex-direction: column;
       }
    .long-line{
        width: 100%;
        margin-left: 0px;
    }
    .block8{
        height: 785px;
    }
    .container1 img{
        width: 100%;
    }
    .container1{
        width: 95%;
    }
 }
 @media (min-width: 1500px) and (max-width: 1600px){
    .cards{
        width: 82%;
        margin: 20px auto;
    }
 }
 @media (min-width: 1600px) and (max-width: 1700px){
    .cards{
        width: 78%;
        margin: 20px auto;
    }
 }
 @media (min-width: 1700px) and (max-width: 1921px){
    .cards{
        width: 72%;
        margin: 20px auto;
    }
    .media{
        width: 100%;
    }
    .long-line{
        width: 100%;
        margin-left: 0px;
    }
    .block-down{
        width: 100%;
        margin: 25px auto;
    }
    .column-2{
        margin-left: auto;
    }
    .column-3{
        margin-left: auto;
    }
    .column-4{
        margin-left: auto;
    }
    .column-5{
        margin-left: auto;
    }
    .column-6{
        margin-left: auto;
    }
 }