*{
    font-family: 'Abhaya Libre', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
} 
.header {
    width: 100%;
    margin: auto;
}
.header2 {
    width: 90%;
    margin: 22px auto;
    display: flex;
}
.header3{
    width: 15%;
}
.header4{
    img{
        float: right;
    }
}
.header5{
    width: 65%;
    margin-left: auto;
    display: flex;
    a{
        color: #3D3935;
        font-size: 13px;
        font-weight: 500;
    }
}
.research{
    display: flex;
    img{
        margin-left: 6px;
        height: 30px;
        margin-top: 5px;
    }
    input{
        width: 100px;
        height: 30px;
        margin-left: 100px;
        margin-top: 5px;
    }
}
.line02{
    width: 60px;
    border-left: 1px solid #b0b0b0;
    margin-left: 30px; 
}
.last{
    align-items: flex-end;
}
.block1{
    background-image: url(../img/Image-1.png);
    width: 100%;
    height: 584px;
    display: flex;
}
.left{
        width: 50%;
        float: left;
        margin: 275px 90px;
    h4{
        height: 170px;
        font-size: 60px;
        font-weight: 700;
        color: #FFFFFF;
        font-family: 'Abhaya Libre', serif;
    }
    p{
        font-size: 13px;
        font-weight: 500;
        color: #FFFFFF;
        font-family: 'Abhaya Libre', serif;
        margin-top: 50px;
    }
}
.right{
    width: 33%;
    margin: auto;
}
.top{
    width: 407px;
    border-radius: 4px;
img{
        border-radius: 2px 0px 0px 2px;
        padding: 5px;
}
}
.top:hover{
    transform: rotateX(20deg);
}
.card-title{
    font-size: 9px;
    height: 12px;
    font-weight: 600;
    color: #F39200;
}
    p{
        font-size: 18px;
        font-weight: 500;
        color: black;
        margin:  19px auto;
        padding-top: 15px;
    }

.middle{
    width: 407px;
    border-radius: 4px;
    margin: 24px 0px;
    img{
        border-radius: 2px 0px 0px 2px;
        padding: 5px;
    }

}
.middle:hover{
    transform: rotateX(20deg);
}
.down{
    width: 407px;
    border-radius: 4px;
    img{
        border-radius: 2px 0px 0px 2px;
        padding: 5px;
    }
}
.down:hover{
    transform: rotateX(20deg);
}
.block2{
    background-color: #F4ECE8;
    width: 100%;
}
.title{
    width: 90%;
    margin: auto;
    display: flex;
}
.title1{
    align-items: flex-start;
    p{
        font-size: 60px;
        font-weight: 700;
        color: #3D3D3C;
        font-family:'Abhaya Libre', serif ;
    }
}
.title2{
    margin-left: auto;
    padding-top: 47px;
    p{
        font-size: 13px;
        font-weight: 700;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.line2{
    width: 90%;
    height: 1px;
    margin: auto;
    border: 1px solid #B5B7C3;
}
.container{
    width: 90%;
    height: 856px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: auto;
    padding-top: 29px;
    border-radius: 4px;
}
.container1{
    width: 833px;
    height: 647px;
    background-color: #FFFFFF;
    img{
        padding: 5px;
        height: 343px;
        width: 100%;
    }
    h6{
        font-size: 13px;
        font-weight: 500;
        color: #F39200;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        margin-top: 29px;
    }
    p{
        width: 85%;
        font-size: 40px;
        font-weight: 700;
        color: #3D3D3C;
        font-family:'Abhaya Libre', serif ;
        text-align: center;
        padding: 0px;
    }
}
.word{
    display: flex;
    margin: 19px auto 25px auto;
    width: 100px;
    h3{
        font-size: 13px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
    h4{
        font-size: 13px;
        font-weight: 400;
        color: #F39200;
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin-left: 6px;
    }
}
.frame{
    width: 90%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: auto;
    height: 40px;
    padding-bottom: 16px;
    a{
        width: 150px;
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        padding: 8px;
        margin: auto;
        text-decoration: none;
    }
}
.container2{
    width: 407px;
    height: 315px;
    grid-column: 2 / 3;
    gap: 17px;
    margin-left: 25px;
    background-color: #FFFFFF;
}
.up{
    display: flex;
}
.photo2{
    img{
        padding: 5px;
        width: 100%;
        height: 315px;
    }
}
.text2{
    h6{
        font-size: 13px;
        font-weight: 500;
        color: #F39200;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
        color: #3D3935;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h1{
        font-size: 13px;
        font-weight: 400;
        color: #3D3935;
        font-family: 'Noto Serif', serif;;
        text-align: left;
        margin-top: 25px;
        margin-left: 15px;
    }
   
}
.word2{
    display: flex;
    margin: 74px auto 25px auto;
    width: 100px;
    h3{
        font-size: 9px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
    h4{
        font-size: 9px;
        font-weight: 400;
        color: #F39200;
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin-left: 6px;
    }
}
.frame2{
    width: 90%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: auto;
    height: 40px;
    padding-bottom: 16px;
}
.link{
    margin: 7px auto;
    width: 100px;
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: auto;
        padding: 8px;
        text-decoration: none;
    }
}
.container3{
    width: 100%;
    height: 315px;
    background-color: #FFFFFF;
    margin-top: 17px;
}
.down2{
    display: flex;
    width: 100%;
}
.photo3{
    img{
        padding: 5px;
        width: 100%;
        height: 315px;
    }
}
.text3{
    h6{
        font-size: 13px;
        font-weight: 500;
        color: #F39200;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
        color: #3D3935;
        font-family: 'Poppins', sans-serif;
        text-align: left;
        margin-top: 15px;
        margin-left: 15px;
    }
    h1{
        font-size: 13px;
        font-weight: 400;
        color: #3D3935;
        font-family: 'Noto Serif', serif;;
        text-align: left;
        margin-top: 25px;
        margin-left: 15px;
    }
   
}
.word3{
    display: flex;
    margin: 74px auto 25px auto;
    width: 100px;
    h3{
        font-size: 9px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
        text-align: center;
    }
    h4{
        font-size: 9px;
        font-weight: 400;
        color: #F39200;
        font-family: 'Noto Serif', serif;
        text-align: center;
        margin-left: 6px;
    }
}
.frame3{
    width: 90%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: auto;
    height: 40px;
    padding-bottom: 16px;
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: auto;
        padding: 8px;
        text-decoration: none;
    }
}
.block3{
    width: 85%;
    height: 458px;
    margin: auto;
    background-color: #F4ECE8;
    margin-top: 82px;
}
.title3{
    padding-top: 77px;
    width: 90%;
    margin: auto;
    p{
        font-size: 13px;
        font-weight: 700;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.line3{
    width: 90%;
    height: 1px;
    margin: auto;
    border: 1px solid #3D3D3C;
}
.big{
    display: flex;
    width: 85%;
    margin: auto;
}
.container4{
    width: 194px;
    .circle{
        width: 122px;
        height: 122px;
        background-color:#3D3D3C;
        padding: 26px;
        border-radius: 100px;
        position: relative;
        top: -190px;
        margin: auto;
    }
}
.text4{
    margin: auto;
    width: 100px;
    padding-top: 80px;
    p{
        width: 100px;
        font-size: 13px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.square{
    width: 194px;
    height: 136px;
    background-color: #FFFFFF;
    margin-top: 93px;
}
.container5{
    width: 194px;
    margin-left: 20px;
    .circle5{
        width: 122px;
        height: 122px;
        background-color:#3D3D3C;
        padding: 26px;
        border-radius: 100px;
        position: relative;
        top: -190px;
        margin: auto;
    }
}
.text5{
    width: 110px;
    padding-top: 72px ;
    margin: auto;
    p{
        font-size: 13px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
}
.square5{
    width: 194px;
    height: 136px;
    background-color: #FFFFFF;
    margin-top: 93px;
}
.container6{
    width: 194px;
    margin-left: 20px;
    .circle6{
        width: 122px;
        height: 122px;
        background-color:#3D3D3C;
        padding: 26px;
        border-radius: 100px;
        position: relative;
        top: -190px;
        margin: auto;
    }
}
.text6{
    width: 110px;
    padding-top: 72px ;
    margin: auto;
    p{
        font-size: 13px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
}
.square6{
    width: 194px;
    height: 136px;
    background-color: #FFFFFF;
    margin-top: 93px;
}
.container7{
    width: 194px;
    margin-left: 20px;
    .circle7{
        width: 122px;
        height: 122px;
        background-color:#3D3D3C;
        padding: 26px;
        border-radius: 100px;
        position: relative;
        top: -190px;
        margin: auto;
    }
}
.text7{
    width: 110px;
    padding-top: 72px ;
    margin: auto;
    p{
        font-size: 13px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
}
.square7{
    width: 194px;
    height: 136px;
    background-color: #FFFFFF;
    margin-top: 93px;
}
.container8{
    width: 194px;
    margin-left: 20px;
    .circle8{
        width: 122px;
        height: 122px;
        background-color:#3D3D3C;
        padding: 26px;
        border-radius: 100px;
        position: relative;
        top: -190px;
        margin: auto;
    }
}
.text8{
    width: 110px;
    padding-top: 72px ;
    margin: auto;
    p{
        font-size: 13px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
        text-align: center;
    }
}
.square8{
    width: 194px;
    height: 136px;
    background-color: #FFFFFF;
    margin-top: 93px;
}
.block4{
    width: 100%;
    background-color: #F4ECE8;
    height: 744px;
    margin-top: 92px;
}
.block04{
    width: 85%;
    margin: auto;
}
.title3{
    width: 90%;
    margin: auto;
    display: flex;
}
.title4{
    align-items: flex-start;
    padding-top: 20px;
    height: 57px;
    p{
        font-size: 60px;
        font-weight: 700;
        color: #3D3D3C;
        font-family:'Abhaya Libre', serif ;
    }
}
.title5{
    margin-left: auto;
    padding-top: 66px;
    p{
        font-size: 13px;
        font-weight: 700;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.line{
    width: 90%;
    height: 1px;
    margin: auto;
    border: 1px solid #B5B7C3;
}
.cards{
    width: 95%;
    display: flex;
    margin: 28px auto;
}
.card1{
    background-color: #FFFFFF;
    height: 480px;
    width: 407px;
    border-radius: 4px;
}
.card2{
    display: block;
    height: 480px;
    img{
        width: 100%;
        height: 235px;
        padding: 5px;
        border-radius: 2px 2px 0px 0px;
        ;

    }
}
.card-body1{
    height: 20px;
    display: flex;
    width: 95%;
    margin: auto;
    padding-top: 19px;
    h5{
        font-size: 13px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.card-body2{
    display: flex;
    margin-left: auto;
    h4{
        font-size: 13px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
    h3{
        font-size: 13px;
        font-weight: 500;
        color: #F39200;
        font-family: 'Poppins', sans-serif;
        margin-left: 5px;
    }
}
.card-text{
    width: 375px;
    margin: 17px auto;
    p{
    font-size: 30px;
    font-weight: 700;
    color: #3D3D3C;
    font-family: 'Abhaya Libre', serif;
}
}
.frame4{
    width: 95%;
    border: 1.5px solid #3D3D3C;
    border-radius: 4px;
    margin: 50px auto;
    height: 40px;
    padding-bottom: 16px;
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: auto;
        padding: 8px;
        text-decoration: none;
    }
}
.link1{
    width: 65px;
    margin: auto;
    padding-top: 5px;
}
.card02{
    background-color: #FFFFFF;
    margin-left: 20px;
    height: 480px;
    width: 407px;
    border-radius: 4px;
}
.card03{
    img{
      border-radius: 2px 2px 0px 0px;
        width: 100%;
        height: 235px;
        padding: 5px;
    }
}
.card3{
    background-color: #FFFFFF;
    margin-left: 20px;
    height: 480px;
    width: 407px;
    border-radius: 4px;
}
.card4{
    img{
      border-radius: 2px 2px 0px 0px;
        width: 100%;
        height: 235px;
        padding: 5px;
    }
}
.block5{
    width: 100%;
    background-color: #FFFFFF;
}
.block05{
    width: 85%;
    height: 458px;
    background-color: #F4ECE8;
    margin: 88px auto;
}
.title7{
    width: 90%;
    margin: 77px auto 0px auto;
    display: flex;
}
.title8{
    align-items: flex-start;
    padding-top: 56px;
    height: 57px;
    p{
        font-size: 24px;
        font-weight: 700;
        color: #3D3D3C;
        font-family:'Abhaya Libre', serif ;
    }
}
.title9{
    margin-left: auto;
    padding-top: 66px;
    p{
        font-size: 13px;
        font-weight: 700;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
    }
}
.category{
    width: 95%;
    display: flex;
    margin: auto;
}
.category1{
    margin: 105px auto;
    button{
        background-color: transparent;
        border: none;
    }
}
.category2{
    width: 193px;
    height: 192px;
    background-color: #FFFFFF;
    margin-left: 20px;
    margin-top: 23px;
    p{
        width: 193px;
        font-size: 13px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
        margin: 67px auto;
        text-align: center;
    }
}
.block6{
    width: 100%;
    background-color: #F4ECE8;
    height: 643px;
}
.block06{
    width: 85%;
    height: 475px;
    margin:  auto;
    padding-top: 80px;
    display: flex;
}
.block-6-1{
    width: 50%;
    height: 475px;
    background-color: #FFFFFF;
}
.content{
    width: 73%;
    margin: auto;
    h1{
        width: 391px;
        font-size: 60px;
        font-weight: 700;
        color: #3D3D3C;
        font-family:'Abhaya Libre', serif ;
        margin-top: 80px;
        text-align: left;
    }
    h3{
        width: 462px;
        font-size: 24px;
        font-weight: 500;
        color: #3D3D3C;
        font-family: 'Poppins', sans-serif;
        margin-top: 22px;
        text-align: left;
    }
    p{
        width: 462px;
        font-size: 13px;
        font-weight: 400;
        color: #3D3D3C;
        font-family: 'Noto Serif', serif;
        margin-top: 11px;
        text-align: left;
    }
}
.block-6-2{
    width: 50%;
    height: 475px;
}
.block-6-3{
    background-color: #059EB2;
    width: 100%;
    height: 238px;
    display: flex;
}
.field{
    width: 124px;
    height: 132px;
    background-color: #FFFFFF;
    margin-top: 49px;
    margin-left: 53px;
}
.content1{
    width: 328px;
    margin-top: 43px;
    margin-left: 60px;
    h3{
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    }
    h4{
        color: #FFFFFF;
    font-size: 24px;
    font-weight: 500;
    }

}
.block-6-4{
    width: 100%;
    height: 238px;
    background-color: #F39200;
    display: flex;
}
.frame2-1{
    width: 40%;
    border: 1.5px solid #FFFFFF;
    border-radius: 4px;
    height: 40px;
    margin-top: 14px;
    a{
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 500;
        text-align: center;
        margin: auto;
        padding: 8px;
        text-decoration: none;
    }
}
.link2-1{
    width: 100px;
    margin: auto;
    padding-top: 5px;
}
.block7{
    width: 100%;
    height: 635px;
    background-color: #FFFFFF;
}
.block07{
    width: 85%;
    margin: 80px auto;
    height: 475px;
    background-color: #F4ECE8;
}
.aside{
    display: flex;
}
.aside1{
    width: 561px;
    margin-left: 83px;
    margin-top: 57px;
    h1{
        color: #3D3D3C;
        font-size: 60px;
        font-weight: 700;
        text-align: left;
        font-family: 'Abhaya Libre', serif;
    }
    h3{
        color: #3D3D3C;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        font-family: 'Poppins', sans-serif;
        margin-top: 23px;
    }
}
.aside2{
    margin-left: 83px;
    margin-top: 78px;
}
.mb-2{
    width: 406px;
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.mb-3{
    width: 406px;
    margin-top: 20px;
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.form-control{
    background-color: #F4ECE8;
    border-radius: 1px solid #3D3D3C;
}
.mb-4{
    width: 320px;
    p{
    color: #3D3D3C;
    font-size: 9px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    }
}
.radio{
    display: flex;
}
.form-check-label{
    color: #3D3D3C;
    font-size: 9px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.btn-outline-secondary{
    width: 190px;
    height: 35px;
    margin-top: 33px;
    color:  #3D3D3C ;
}
.btn{
    border-radius: 4px;
    border: 1.5px solid #3D3D3C; 
}
.block8{
    width: 100%;
    height: 685px;
    background-color: #F4ECE8;
}
.block08{
    width: 85%;
    margin: auto;
}
.block-up{
    display: flex;
}
.block-img{
    padding-top: 36px;
}
.media{
    padding-top: 24px;
    width: 100%;
}
.media-img{
    width: 230px;
    margin-left: auto;
    img{
        margin-left: 25px;
    }
}
.long-line{
    width: 98%;
    border: 1px solid #3D3D3C;
    margin-top: 18px;
    margin-left: 26px;
}
.block-down{
    display: flex;
    margin-top: 25px;
    width: 100%;
}
.column-1{
    width: 123px;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-2{
    width: 156px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-3{
    width: 153px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-4{
    width: 123px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-5{
    width: 154px;
    margin-left: auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.column-6{
    width: 169px;
    margin-left:auto;
    h1{
        color: #3D3D3C;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        margin: 0px;
    }
    a{
        color: #3D3D3C;
        font-size: 13px;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
}
.long-line2{
    width: 100%;
    border: 1px solid #3D3D3C;
    margin: 66px auto;
}
.down-form{
    display: flex;
    width: 100%;
}
.down-form1{
    width: 375px;
    h3{
    color: #3D3D3C;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    }
    p{
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
    }
}
.down-form2{
    margin-left: auto;
}
.down-form3{
    margin-left: auto;
}
.block9{
    width: 100%;
    height: 222px;
    background-color: #FFFFFF;
}
.block09{
    width: 85%;
    margin: auto;
    display: flex;
    padding-top: 25px;
}
.block9-1{
    h5{
    color: #3D3D3C;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Noto Serif', serif;
    }
    img{
        margin-top: 5px;
    }
}
.block9-2{
    margin-left: auto;
    margin-top: 30px;
}
.block9-3{
    margin-left: 53px;
    margin-top: 30px;
    img{
        margin-left: 18px;
    }
}
.block10{
    width: 100%;
    background-color: #F2F2F2;
}
.block010{
    width: 90%;
    height: 60px;
    margin: auto;
    p{
        color: #3D3935;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    }
}
.burger{
    width: 33px;
    height: 31px;
    display: none;
    margin: 15px 20px;
    overflow: hidden;
}
.mobile{
    width: 47px;
    height: 55px;
    margin: auto;
    img{
        width: 47px;
    height: 38px;
    }
}
.category01{
    width: 200px;
    height: 281px;
    background-color:rgba(233, 226, 222, 0.77);
    text-align: center;
    margin-right:  25px;
    
}
.category01 a{
    width: 200px;
    height: 281px;
    color: #668E68 ;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    line-height: 3.5;
}
.burger:hover{
    display: block;
    width: 225px;
    overflow: visible;
 }
@media (min-width: 320px) and (max-width: 415px){
    .burger{
        display: block;
        margin-left: auto;
    }
    .mobile{
        display: block;
    }
    .header{
        width: 100%;
    }
    .header5{
        display: none ;
    }
    .header3{
        width: auto;
        padding-top: 5px;
    }
    .left{
        margin: auto;
    }
    .left h4{
        font-size: 30px;
        text-align: center;
    }
    .left p{
        margin: 75px auto;
        text-align: center;
    }
    .right{
        display: none;
    }
    .block2{
        height: fit-content;
    }
    .container{
       display: block;
       height: 1364px;
    }
    .container1{
        width: auto;
    }
    .container2{
        margin-top: 20px;
        width: auto;
    }
    .container1 p{
        width: auto;
        font-size: 30px;
    }
    .container2{
        margin-left: 0px;
    }
    .word{
        margin: 32px auto 13px auto;
    }
    .big{
       flex-direction: column;
    }
    .block3{
        height: 1820px;
    }
    .container4{
        margin: auto;
    }
    .container5{
        margin: auto;
    }
    .container6{
        margin: auto;
    }
    .container7{
        margin: auto;
    }
    .container8{
        margin: auto;
    }
   .cards{
    flex-direction: column;
   }
   .block4{
    height: 1744px;
   }
   .card-text p{
    font-size: 27px;
    margin: auto;
   }
   .card-text{
    width: 253px;
   }
   .card02{
    margin: 20px auto;
   }
   .card3{
    margin:20px auto;
   }
   .category{
    flex-direction: column;
   }
   .category1{
    display: none;
   }
   .category2{
    margin: 20px auto;
   }
   .block05{
    height: fit-content;
   }
   .block06{
    flex-direction: column;
   }
   .block-6-1{
    width: 100%;
    height: 605px;
   }
   .content{
    width: 90%;
   }
   .content h1{
    width: auto;
   }
   .content h3{
    width: auto;
   }
   .content p{
    width: auto;
   }
   .block6{
    height: 1210px;
   }
   .content1{
    width: 100%;
   }
   .block-6-2{
    margin-top: 20px;
    width: 100%;
   }
   .field{
    display: none;
   }
   .aside{
    flex-direction: column;
   }
   .aside1{
    width: auto;
    margin: auto;
   }
   .block7{
    height: 900px;
   }
   .block07{
    height: 890px;
   }
   .aside1 h1{
    font-size: 50px;
   }
   .aside2{
    margin: 20px auto;
   }
   .mb-2{
    width: 245px;
    margin-left: 10px;
   }
   .mb-3{
    width: 245px;
    margin-left: 10px;
   }
   .mb-4{
    width: 265px;
    margin-left: 10px;
   }
   .radio{
    margin-left: 10px;
   }
   .btn-outline-secondary{
    margin-left: 10px;
   }
   .block-up{
    flex-direction: column;
   }
   .long-line{
    width: 100%;
    margin: 20px auto;
   }
   .block-down{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
   }
   .column-2{
    margin-left: 0px;
    width: 138px;
   }
   .column-3{
    margin-left: 0px;
   }
   .column-4{
    margin-left: 0px;
   }
   .column-5{
    margin-left: 0px;
   }
   .column-6{
    margin-left: 0px;
    width: 138px;
   }
   .block8{
    height: 1470px;
   }
   .down-form{
    flex-direction: column;
   }
   .down-form1{
    width: 285px;
   }
   .down-form2{
    margin-left: 0px;
   }
   .down-form3{
    margin-left: 0px;
   }
   .block9{
    height: 450px;
   }
   .block09{
    flex-direction: column;
   }
   .block010{
    height: fit-content;
   }
}
@media (min-width: 320px) and (max-width: 321px){
    .category01{
        width: 120px;
    }
}
@media (min-width: 375px) and (max-width: 380px){
    .category01{
        width: 160px;
    }
    .container3{
        margin-top: 45px;
    }
}
@media (min-width: 413px) and (max-width: 415px){
    .container3{
        margin-top: 45px;
    }
}
@media (min-width: 1023px) and (max-width: 1115px){
    .photo{
        display: none;
    }
    .last{
        display: none;
    }
    .left{
        width: 40%;
        margin: 40px 50px;
    }
    .left p{
        margin-top: 195px;
    }
    .container1{
        height: fit-content;
        width: auto;
    }
    .container2{
        width: 100%;
    }
    .container3{
        margin-top: 53px;
    }
    .big{
        width: 96%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    .container7{
        display: none;
    }
    .card3{
        display: none;
    }
    .category1{
        display: none;
    }
    .content h1{
        font-size: 50px;
    }
    .content h3{
        width: 370px;
    }
    .content p{
        width: 370px;
    }
    .block07{
        height: 545px;
    }
    .aside1{
        margin-left: 60px;
    }
    .mb-2{
        width: 380px;
    }
    .mb-3{
        width: 380px;
    }
    .block-up{
        display: block;
    }
    .long-line{
        width: 100%;
        margin-left: 0px;
    }
    .block8{
        height: fit-content;
    }
    .down-form3{
        margin-left: 55px;
    }
    .block05{width: auto;
    }
    .category2{
        width: 180px;
    }
}
@media (min-width: 414px) and (max-width: 1023px){
    .burger{
        display: block;
        margin-left: auto;
    }
    .mobile{
        display: block;
    }
    .header{
        width: 100%;
    }
    .header5{
        display: none ;
    }
    .header3{
        width: auto;
        padding-top: 5px;
    }
    .left{
        margin: auto;
    }
    .left h4{
        font-size: 30px;
        text-align: center;
    }
    .left p{
        margin: 75px auto;
        text-align: center;
    }
    .right{
        display: none;
    }
    .block2{
        height: fit-content;
    }
    .container{
       display: block;
       height: 1364px;
    }
    .container1{
        width: auto;
    }
    .container2{
        margin-top: 20px;
        width: auto;
    }
    .container1 p{
        width: auto;
        font-size: 30px;
    }
    .container2{
        margin-left: 0px;
    }
    .word{
        margin: 32px auto 13px auto;
    }
    .big{
       flex-direction: column;
    }
    .block3{
        height: 1820px;
    }
    .container4{
        margin: auto;
    }
    .container5{
        margin: auto;
    }
    .container6{
        margin: auto;
    }
    .container7{
        margin: auto;
    }
    .container8{
        margin: auto;
    }
   .cards{
    flex-direction: column;
   }
   .block4{
    height: 1744px;
   }
   .card-text p{
    font-size: 27px;
    margin: auto;
   }
   .card-text{
    width: 253px;
   }
   .card02{
    margin: 20px auto;
   }
   .card3{
    margin:20px auto;
   }
   .category{
    flex-direction: column;
   }
   .category1{
    display: none;
   }
   .category2{
    margin: 20px auto;
   }
   .block05{
    height: fit-content;
   }
   .block06{
    flex-direction: column;
   }
   .block-6-1{
    width: 100%;
    height: 605px;
   }
   .content{
    width: 90%;
   }
   .content h1{
    width: auto;
   }
   .content h3{
    width: auto;
   }
   .content p{
    width: auto;
   }
   .block6{
    height: 1210px;
   }
   .content1{
    width: 100%;
   }
   .block-6-2{
    margin-top: 20px;
    width: 100%;
   }
   .field{
    display: none;
   }
   .aside{
    flex-direction: column;
   }
   .aside1{
    width: auto;
    margin: auto;
   }
   .block7{
    height: 900px;
   }
   .block07{
    height: 890px;
   }
   .aside1 h1{
    font-size: 50px;
   }
   .aside2{
    margin: 20px auto;
   }
   .mb-2{
    width: 245px;
    margin-left: 10px;
   }
   .mb-3{
    width: 245px;
    margin-left: 10px;
   }
   .mb-4{
    width: 265px;
    margin-left: 10px;
   }
   .radio{
    margin-left: 10px;
   }
   .btn-outline-secondary{
    margin-left: 10px;
   }
   .block-up{
    flex-direction: column;
   }
   .long-line{
    width: 100%;
    margin: 20px auto;
   }
   .block-down{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
   }
   .column-2{
    margin-left: 0px;
    width: 138px;
   }
   .column-3{
    margin-left: 0px;
   }
   .column-4{
    margin-left: 0px;
   }
   .column-5{
    margin-left: 0px;
   }
   .column-6{
    margin-left: 0px;
    width: 138px;
   }
   .block8{
    height: 1470px;
   }
   .down-form{
    flex-direction: column;
   }
   .down-form1{
    width: 285px;
   }
   .down-form2{
    margin-left: 0px;
   }
   .down-form3{
    margin-left: 0px;
   }
   .block9{
    height: 450px;
   }
   .block09{
    flex-direction: column;
   }
   .block010{
    height: fit-content;
   }
   .card1{
    margin: auto;
   }
}
@media (min-width: 1023px) and (max-width: 1439px){
    .category2{
        width: 168px;
    }
    .cards{
        flex-direction: column;
    }
    .card1{
        margin: auto;
    }
    .card02{
        margin: auto;
    }
    .card3{
        margin: auto;
    }
    .block4{
        height: fit-content;
    }
    .big{
        overflow: hidden;
    }
    .photo{
        display: none;
    }
    .last{
        display: none;
    }
    .right{
        width: auto;
    }
    .left{
        margin: 130px 75px;
    }
    .left p{
        margin-top: 110px;
    }
    .container1{
        width: auto;
    }
    .word{
        margin: auto;
    }
    .container1 h6{
        margin-top: 15px;
    }
    .long-line{
        width: 855px;
    }
    .block5{
        overflow: hidden;
    }
}
@media (min-width: 1023px) and (max-width: 1239px){
.category1{
    display: none;
}
}